parameters:
	ignoreErrors:
		-
			message: '#^Method Seatplus\\Eveapi\\Database\\Factories\\CharacterAffiliationFactory\:\:configure\(\) should return \$this\(Seatplus\\Eveapi\\Database\\Factories\\CharacterAffiliationFactory\) but returns static\(Seatplus\\Eveapi\\Database\\Factories\\CharacterAffiliationFactory\)\.$#'
			identifier: return.type
			count: 1
			path: database/factories/CharacterAffiliationFactory.php

		-
			message: '#^Method Seatplus\\Eveapi\\Database\\Factories\\CharacterInfoFactory\:\:configure\(\) should return \$this\(Seatplus\\Eveapi\\Database\\Factories\\CharacterInfoFactory\) but returns static\(Seatplus\\Eveapi\\Database\\Factories\\CharacterInfoFactory\)\.$#'
			identifier: return.type
			count: 1
			path: database/factories/CharacterInfoFactory.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$group\.$#'
			identifier: property.notFound
			count: 4
			path: src/Jobs/Assets/EnrichAssetTypeGroupCategoryJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name_normalized\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/Assets/EnrichAssetTypeGroupCategoryJob.php

		-
			message: '#^Anonymous function should return Illuminate\\Support\\Collection\<int, int\<0, max\>\|null\> but returns Illuminate\\Support\\Collection\<int, int\<0, max\>\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/Jobs/Hydrate/Maintenance/GetMissingLocationFromContracts.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$alliance_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/Seatplus/Batch/CharacterBatchJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$corporation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/Seatplus/Batch/CharacterBatchJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/Seatplus/Batch/CharacterBatchJob.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Jobs/Seatplus/Batch/CharacterBatchJob.php

		-
			message: '#^Method Seatplus\\Eveapi\\Jobs\\Seatplus\\UpdateCharacter\:\:calculateInterval\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: src/Jobs/Seatplus/UpdateCharacter.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$corporation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/Seatplus/UpdateCorporation.php

		-
			message: '#^Method Seatplus\\Eveapi\\Models\\BatchStatistic\:\:getDurationAttribute\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: src/Models/BatchStatistic.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$alliance_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Character/CharacterInfo.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$corporation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Character/CharacterInfo.php

		-
			message: '#^Method Seatplus\\Eveapi\\Models\\Contacts\\Contact\:\:getAffiliationAttribute\(\) should return Seatplus\\Eveapi\\Models\\Character\\CharacterAffiliation\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Contacts/Contact.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Contacts\\Contact\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Contacts/Contact.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$contactable\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Contacts/ContactLabel.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$label_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Contacts/ContactLabel.php

		-
			message: '#^Property ''label_name'' does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: src/Models/Contacts/ContactLabel.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Contacts\\ContactLabel\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Contacts/ContactLabel.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Contacts\\Label\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Contacts/Label.php

		-
			message: '#^Property ''has_content'' does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: src/Models/Killmails/KillmailItem.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$corporation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/RefreshToken.php

		-
			message: '#^PHPDoc type array of property Seatplus\\Eveapi\\Models\\Universe\\Constellation\:\:\$dispatchesEvents is not covariant with PHPDoc type array\<string, class\-string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$dispatchesEvents\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/Constellation.php

		-
			message: '#^PHPDoc type array of property Seatplus\\Eveapi\\Models\\Universe\\Station\:\:\$dispatchesEvents is not covariant with PHPDoc type array\<string, class\-string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$dispatchesEvents\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/Station.php

		-
			message: '#^PHPDoc type array of property Seatplus\\Eveapi\\Models\\Universe\\Structure\:\:\$dispatchesEvents is not covariant with PHPDoc type array\<string, class\-string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$dispatchesEvents\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/Structure.php

		-
			message: '#^PHPDoc type array of property Seatplus\\Eveapi\\Models\\Universe\\System\:\:\$dispatchesEvents is not covariant with PHPDoc type array\<string, class\-string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$dispatchesEvents\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/System.php

		-
			message: '#^PHPDoc type array\<string\>\|bool of property Seatplus\\Eveapi\\Models\\Universe\\System\:\:\$guarded is not covariant with PHPDoc type array\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$guarded\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/System.php

		-
			message: '#^PHPDoc type array\<string\>\|bool of property Seatplus\\Eveapi\\Models\\Universe\\Type\:\:\$guarded is not covariant with PHPDoc type array\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$guarded\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Universe/Type.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Wallet\\Balance\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Wallet/Balance.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Wallet\\WalletJournal\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Wallet/WalletJournal.php

		-
			message: '#^Property Seatplus\\Eveapi\\Models\\Wallet\\WalletTransaction\:\:\$guarded \(array\<string\>\) does not accept default value of type false\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Models/Wallet/WalletTransaction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$corporation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/DispatchIndividualUpdate.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$roles\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/FindCorporationRefreshToken.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$refresh_token\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/ResolveLocation/Finders/ThroughContractsFinder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$refresh_token\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/ResolveLocation/Finders/ThroughCorporationMemberTrackingFinder.php

		-
			message: '#^Method Seatplus\\Eveapi\\Services\\ResolveLocation\\Finders\\ThroughPreviouslyFailedRefreshTokenFinder\:\:handle\(\) should return Seatplus\\Eveapi\\Models\\RefreshToken\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Services/ResolveLocation/Finders/ThroughPreviouslyFailedRefreshTokenFinder.php

		-
			message: '#^Method Seatplus\\Eveapi\\Services\\ResolveLocation\\Finders\\ThroughSuccessfulRefreshTokenFinder\:\:handle\(\) should return Seatplus\\Eveapi\\Models\\RefreshToken\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Services/ResolveLocation/Finders/ThroughSuccessfulRefreshTokenFinder.php

		-
			message: '#^Property Seatplus\\Eveapi\\Services\\ResolveLocation\\ResolveLocationService\:\:\$resolvers on left side of \?\?\= is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 1
			path: src/Services/ResolveLocation/ResolveLocationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/ResolveLocation/Resolver/StructureResolver.php
